<div class="topic">
            <div class="container">
                <div class="col-md-12">
                    <div class="col-sm-3">
                        <div class="profileimage" style="margin-left:-20px;margin-top:15px;"><img src="/img/volunteer1.jpg"></img>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3 style="">Emma</h3>
                        <h5 style="margin-bottom:20px;">Volunteer</h5>
                        <h6 style="line-height:22px;color:#292929;font-size:14px;">Educator and mother dedicated to supporting her community. Emma believes that each member of a community brings a unique talent to improving and transforming a community. </h6>
						<h6 style="line-height:22px;color:#292929;font-size:14px;">As a Volunteer Coordinator, Emma is one of the original members of Search who continues to amaze all in her dedication to serve, impact and transform.</h6>
						<h6 style="line-height:22px;color:#292929;font-size:14px;"> She primary works with helping schedule events and coordinating with corresponding clients and other volunteers to make sure needs and goals are being met.</h6>

                        

				   </div>
                </div>
                <div class="col-md-4">

                </div>
            </div>

        </div>

        <div class="container">
	<div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Recently Helped</h3>
            </div>
            <div class="panel-body">
				<div class="panel-body">
              <div class="col-sm-3">
                <div class="profileimage" style="margin-left:-20px;margin-top:15px;"><img style="height:200px;" src="https://i.imgur.com/VKa54Wk.png">
                </div>
              </div>
              <div class="col-sm-8">
                <h3 style="margin-top:10px;"><a href="/clients/1">Wendell</a></h3>
                <h6 style="line-height:22px;color:#292929;font-size:14px;">
                  Wendell found himself homeless in the streets of Houston for 25 years. After serving in the armed forces for nine years, Wendell worked as a docker. However, after the breakdown of his marriage, Wendell's life took a downward turn and he no longer could pay his bills...
                  <a href="/clients/1">Learn More</a>
                </h6>
              </div>
         </div>

        </div>
	</div>
	
	

    </div>
	
	<div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Events Done</h3>
            </div>
            <div class="panel-body">

			 <h4 style="margin-top:10px;">2017 Run to End Homelessness</h4>
			 <h4 style="margin-top:10px;">October Meal Packing</h4>
			 <h4 style="margin-top:10px;">Christmas 2016 Gift Exchange</h4>
                <h6 style="line-height:22px;color:#292929;font-size:14px;">
                  
                </h6>

        </div>
	</div>
	</div>
	</div>