<div class="topic">
            <div class="container">
                <div class="col-md-12">
                    <div class="col-sm-3">
                        <div class="profileimage" style="margin-left:-20px;margin-top:15px"><img style="height:250px;margin-left:50px;" src="http://www.bobthebuilder.com/en-gb/Images/btb_where_to_watch_background_Bob_tcm1238-232957.png"></img>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3 style="">Bob</h3>
                        <h5 style="margin-bottom:20px;">Staff</h5>
                        <h6 style="line-height:22px;color:#292929;font-size:14px;">Bob is a public servant who spent 20 years serving the State of Maryland. He has served four terms in the Maryland House of Delegates, representing District 12B in Howard County. He currently sits on the Environmental Matters Committee. He graduated from Seton High School in Baltimore before earning a Bachelor of Arts degree in literature from the University of Maryland University College and a Juris Doctor degree from the University of Maryland School of Law. Bob practiced as an attorney before his election to the House of Delegates. At Search, he works as the chief legal counsel.<h3>
                        

				   </div>
                </div>
                <div class="col-md-4">

                </div>
            </div>

        </div>
        <div class="container">
	<div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Recently Helped</h3>
            </div>
            <div class="panel-body">
				<div class="panel-body">
              <div class="col-sm-3">
                <div class="profileimage" style="margin-left:-20px;margin-top:15px;"><img style="height:200px;" src="https://i.imgur.com/VKa54Wk.png">
                </div>
              </div>
              <div class="col-sm-8">
                <h3 style="margin-top:10px;"><a href="/clients/1">Wendell</a></h3>
                <h6 style="line-height:22px;color:#292929;font-size:14px;">
                  Wendell found himself homeless in the streets of Houston for 25 years. After serving in the armed forces for nine years, Wendell worked as a docker. However, after the breakdown of his marriage, Wendell's life took a downward turn and he no longer could pay his bills...
                  <a href="/clients/1">Learn More</a>
                </h6>
              </div>
         </div>

        </div>
	</div>
	
	

    </div>
	
	<div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Events Done</h3>
            </div>
            <div class="panel-body">

			 <h4 style="margin-top:10px;">2017 Run to End Homelessness</h4>
			 <h4 style="margin-top:10px;">October Meal Packing</h4>
			 <h4 style="margin-top:10px;">Christmas 2016 Gift Exchange</h4>
                <h6 style="line-height:22px;color:#292929;font-size:14px;">
                  
                </h6>

        </div>
	</div>
	</div>
	</div>